
{% extends 'registration.html' %}

{% block content %}

<div id="registration-page" class="container form-page active">
    
    <h1>Create Your Account</h1>
    <form method="post" id="registration-form">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_first_name">First Name</label>
            {{ form.fname }}
            {{ form.fname.errors }}
        </div>
        <div class="form-group">
            <label for="id_last_name">Last Name</label>
            {{ form.lname }}
            {{ form.lname.errors }}
        </div>
        <div class="form-group">
            <label for="id_username">Username</label>
            {{ form.username }}
            {{ form.username.errors }}
        </div>
        <div class="form-group">
            <label for="id_email">Email</label>
            {{ form.email }}
            {{ form.email.errors }}
        </div>
        <div class="form-group">
            <label for="id_password">Password</label>
            {{ form.password1 }}
            {{ form.password1.errors }}
        </div>
        <div class="form-group">
            <label for="id_confirm_password">Confirm Password</label>
            {{ form.password2 }}
            {{ form.password2.errors }}
        </div>
        <button type="submit" class="btn">Continue</button>
    </form>
</div>


{% endblock %}


   

 