{% extends 'base.html' %}

{% block content %}

<main>
    
<style>
    .club-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
    }
    .search-bar {
        display: flex;
        gap: 10px;
    }
    .search-bar input {
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
        width: 300px;
    }
    .club-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 20px;
    }
    .club-card {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        padding: 20px;
        transition: transform 0.3s ease;
    }
    .club-card:hover {
        transform: translateY(-5px);
    }
    .club-card h3 {
        color: var(--primary-color);
        margin-bottom: 10px;
    }
    .club-theme {
        display: inline-block;
        background-color: var(--accent-color);
        color: var(--light-text-color);
        padding: 5px 10px;
        border-radius: 15px;
        font-size: 0.8em;
        margin-bottom: 10px;
    }
    .club-card a{
        text-decoration: none;
    }
    a .club-theme{
        text-decoration: none;
        color: black;
    }

    .bookmark-icon {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 1.2em;
        color: var(--accent-color-2);
        cursor: pointer;
    }
    .bookmark-icon:hover {
        color: var(--accent-color-3);
    }
    .club-card {
        position: relative;
    }
</style>


<div class="container">
    <div class="club-header">
        <h1>Book Clubs</h1>
        <form method="GET" action="{% url 'club_list' %}">
        <div class="search-bar">
            <input type="text" name="q" value="{{ search_query }}" placeholder="Search for clubs...">
            <button class="btn" type="submit">Search</button>
        </div>
        </form>
        <a href="{% url 'club_create' %}" class="btn">Create Club</a>
    </div>
    <div class="club-grid">
        {% for club in clubs %}
        <div class="club-card">
            <a href="{% url 'club_detail' club.id %}"><h3>{{ club.name|capfirst }}</h3></a>
            {% if club.theme.all %}
            {% for theme in club.theme.all %}
            <a href="{% url 'theme' theme.name %}"><span class="club-theme">{{ theme.name|capfirst }}</span></a>
            {% endfor %}
            {% else %}
                    No Theme
            {% endif %}
            <p>{{ club.description|capfirst }}</p>
        </div>
        {% endfor %}

    </div>
</div>

</main>


{% endblock %}

