{% extends 'base3.html' %}

{% block content %}
<div class="themes-header">
    <h1>Clubs with {{th}} theme</h1>
</div>

<div class="themes-grid">
    {% for club in theme_posts %}
    <div class="theme-card">
        <h2>{{ club.name }}</h2>
        <div class="theme-clubs">
            <a href="{% url 'club_detail' club.id %}" class="club-link">{{ club.name }}</a>
        </div>
    </div>
    {% endfor %}
</div>

<a href="{% url 'club_create' %}" class="btn">Create a New Club</a>
{% endblock %}
